.pagination li a {
	color: black !important;
	font-size: 18px;
	padding: 5px 8px 5px 7px;
}

.pagination {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.table-rapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	padding-bottom: 50px;
}

.activePagi {
	background-color: blue !important;
}

a#back {
	color: blue !important;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 17px;
}
@media only screen and (max-width: 768px) {
	.admin-container {
		margin-top: 70px;
		padding-top: 20px;
	}
}
