.pagination li a {
	color: black !important;
	font-size: 18px;
	padding: 5px 8px 5px 7px;
}

.pagination {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.table-rapper {
	padding-bottom: 50px;
}

.activePagi {
	background-color: blue !important;
}

a#back {
	color: blue !important;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 17px;
}
@media only screen and (max-width: 768px) {
	.admin-container {
		margin-top: 70px;
		padding-top: 20px;
	}

	.pagination {
		top: 81%;
	}
}
