.pagination li a {
	color: black !important;
	font-size: 18px;
	padding: 5px 8px 5px 8px;
}

.pagination {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.table-rapper {
	height: 75vh;
}
.activePagi {
	background-color: blue !important;
}

a#back {
	color: blue !important;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 17px;
}
