#form-filter {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	align-items: center;
}

#price,
#category {
	box-shadow: 0 5px 15px -10px black;
	padding: 5px 10px;
	border-radius: 10px;
	border: none;
}
#price :hover {
	background-color: rgb(87, 63, 32);
}

#btn-filter {
	border-radius: 20px;
	text-transform: uppercase;
	background-color: rgb(246, 184, 69);
	transition: all 0.5s;
	padding: 5px 20px;
}

#btn-filter:hover {
	background-color: rgb(243, 213, 158);
}

.chakra-card {
	transition: 0.3s;
	height: 430px;
}

.chakra-card:hover {
	transform: scale(1.05);
}

.chakra-image {
	height: 100%;
}

.chakra-checkbox__control {
	border: 1px solid black !important;
}

.radios {
	display: flex;
	gap: 15px;
	justify-content: flex-start;
	align-items: center;
}

@media only screen and (max-width: 768px) {
	#form-filter {
		flex-direction: column;
	}

	#price,
	#category,
	#btn-filter {
		width: 100%;
	}

	#btn-filter {
		margin-bottom: 10px;
	}
}
